In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import openpyxl

In [ ]:
link_peak_am = "../datas/C4_HPM_RN2_BrasCanot_TCSP.xlsx"
link_peak_pm = "../datas/C4_HPS_RN2_BrasCanot_TCSP.xlsx"

In [7]:
df_peak_am_def = pd.read_excel(link_peak_am, sheet_name="def")
df_peak_am_pl = pd.read_excel(link_peak_am, sheet_name="PL")
df_peak_am_vl = pd.read_excel(link_peak_am, sheet_name="VL")

df_peak_pm_def = pd.read_excel(link_peak_pm, sheet_name="def")
df_peak_pm_pl = pd.read_excel(link_peak_pm, sheet_name="PL")
df_peak_pm_vl = pd.read_excel(link_peak_pm, sheet_name="VL")

In [34]:
print(df_peak_am_def)
df_peak_am_def.describe()

        centroid  type  link
0    E_BrasCanot  orig    14
1    E_Duchemann  orig    34
2      E_RN2_est  orig    83
3    E_RN2_ouest  orig    35
4     E_TCSP_est  orig   142
5   E_TCSP_ouest  orig   137
6    S_BrasCanot  dest    66
7    S_Duchemann  dest    93
8      S_RN2_est  dest    84
9    S_RN2_ouest  dest    85
10    S_TCSP_est  dest   141
11  S_TCSP_ouest  dest   146

             link
count   12.000000
mean    88.333333
std     45.972983
min     14.000000
25%     58.250000
50%     84.500000
75%    138.000000
max    146.000000

In [21]:
print(df_peak_am_pl)
df_peak_am_pl.describe()

   flow_[veh/h]  S_BrasCanot  S_Duchemann  S_RN2_est  S_RN2_ouest  S_TCSP_est  \
0   E_BrasCanot            0            6          4            1           0
1   E_Duchemann            0            0          2            2           0
2     E_RN2_est            0            0          0           35           0
3   E_RN2_ouest            2            7         28            0           0
4    E_TCSP_est            0            0          0            0           0
5  E_TCSP_ouest            0            0          0            0           0

   S_TCSP_ouest
0             0
1             0
2             0
3             0
4             0
5             0

,S_BrasCanot,S_Duchemann,S_RN2_est,S_RN2_ouest,S_TCSP_est,S_TCSP_ouest
count,6.000000,6.000000,6.000000,6.000000,6.0,6.0
mean,0.333333,2.166667,5.666667,6.333333,0.0,0.0
std,0.816497,3.371449,11.057426,14.066509,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,0.000000,0.000000,1.000000,0.500000,0.0,0.0
75%,0.000000,4.500000,3.500000,1.750000,0.0,0.0
max,2.000000,7.000000,28.000000,35.000000,0.0,0.0

In [25]:
print(df_peak_am_vl)
df_peak_am_vl.describe()

   flow_[veh/h]  S_BrasCanot  S_Duchemann  S_RN2_est  S_RN2_ouest  S_TCSP_est  \
0   E_BrasCanot            0          107         45          312           0
1   E_Duchemann           63            0        102          253           0
2     E_RN2_est            0           56          0          649           0
3   E_RN2_ouest          200          150        773            0           0
4    E_TCSP_est            0            0          0            0           0
5  E_TCSP_ouest            0            0          0            0           0

   S_TCSP_ouest
0             0
1             0
2             0
3             0
4             0
5             0

,S_BrasCanot,S_Duchemann,S_RN2_est,S_RN2_ouest,S_TCSP_est,S_TCSP_ouest
count,6.000000,6.000000,6.000000,6.000000,6.0,6.0
mean,43.833333,52.166667,153.333333,202.333333,0.0,0.0
std,80.549157,64.431100,306.232374,259.584797,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,0.000000,28.000000,22.500000,126.500000,0.0,0.0
75%,47.250000,94.250000,87.750000,297.250000,0.0,0.0
max,200.000000,150.000000,773.000000,649.000000,0.0,0.0

In [35]:
print(df_peak_pm_def)
df_peak_pm_def.describe()

        centroid  type  link
0    E_BrasCanot  orig    14
1    E_Duchemann  orig    34
2      E_RN2_est  orig    83
3    E_RN2_ouest  orig    35
4     E_TCSP_est  orig   142
5   E_TCSP_ouest  orig   137
6    S_BrasCanot  dest    66
7    S_Duchemann  dest    93
8      S_RN2_est  dest    84
9    S_RN2_ouest  dest    85
10    S_TCSP_est  dest   141
11  S_TCSP_ouest  dest   146

             link
count   12.000000
mean    88.333333
std     45.972983
min     14.000000
25%     58.250000
50%     84.500000
75%    138.000000
max    146.000000

In [36]:
print(df_peak_pm_pl)
df_peak_pm_pl.describe()

   flow_[veh/h]  S_BrasCanot  S_Duchemann  S_RN2_est  S_RN2_ouest  S_TCSP_est  \
0   E_BrasCanot            0            6          3            0           0
1   E_Duchemann            0            0          2            0           0
2     E_RN2_est            0            0          0           18           0
3   E_RN2_ouest            1            2         11            0           0
4    E_TCSP_est            0            0          0            0           0
5  E_TCSP_ouest            0            0          0            0           0

   S_TCSP_ouest
0             0
1             0
2             0
3             0
4             0
5             0

,S_BrasCanot,S_Duchemann,S_RN2_est,S_RN2_ouest,S_TCSP_est,S_TCSP_ouest
count,6.000000,6.000000,6.000000,6.000000,6.0,6.0
mean,0.166667,1.333333,2.666667,3.000000,0.0,0.0
std,0.408248,2.422120,4.273952,7.348469,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,0.000000,0.000000,1.000000,0.000000,0.0,0.0
75%,0.000000,1.500000,2.750000,0.000000,0.0,0.0
max,1.000000,6.000000,11.000000,18.000000,0.0,0.0

In [37]:
print(df_peak_pm_vl)
df_peak_pm_vl.describe()

   flow_[veh/h]  S_BrasCanot  S_Duchemann  S_RN2_est  S_RN2_ouest  S_TCSP_est  \
0   E_BrasCanot            0          127         44          320           0
1   E_Duchemann          134            0        111          276           0
2     E_RN2_est            0           72          0          686           0
3   E_RN2_ouest          326          118        773            0           0
4    E_TCSP_est            0            0          0            0           0
5  E_TCSP_ouest            0            0          0            0           0

   S_TCSP_ouest
0             0
1             0
2             0
3             0
4             0
5             0

,S_BrasCanot,S_Duchemann,S_RN2_est,S_RN2_ouest,S_TCSP_est,S_TCSP_ouest
count,6.000000,6.000000,6.000000,6.000000,6.0,6.0
mean,76.666667,52.833333,154.666667,213.666667,0.0,0.0
std,133.390654,60.809265,306.024618,273.953037,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,0.000000,36.000000,22.000000,138.000000,0.0,0.0
75%,100.500000,106.500000,94.250000,309.000000,0.0,0.0
max,326.000000,127.000000,773.000000,686.000000,0.0,0.0